{% extends 'base.html.twig' %}

{% block title %}Halls{% endblock %}

{% block body %}
    <br><br><br><br><br><br><br><br>
    <a href="#">Small Hall</a>
    <br>
    <a href="#">Big Hall</a>
{% endblock %}

