{% extends 'base.html.twig' %}

{% block title %}New Hall{% endblock %}

{% block body %}
    <h1>Create new Hall</h1>

    {{ include('admin/hall/_form.html.twig') }}

    <a href="{{ path('admin_hall_index') }}">back to list</a>
{% endblock %}
