{% extends 'base.html.twig' %}

{% block title %}Edit User Data{% endblock %}

{% block body %}
    <h1>Edit User Data</h1>

    {{ include('sign_up/index.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sign_up_index') }}">back to list</a>

    {{ include('orders/_delete_form.html.twig') }}
{% endblock %}
