{% extends 'base.html.twig' %}

{% block title %}New Customers{% endblock %}

{% block body %}
    <h1>Create new Customers</h1>

    {{ include('admin/customers/_form.html.twig') }}

    <a href="{{ path('admin_customers_index') }}">back to list</a>
{% endblock %}
