{% extends 'base.html.twig' %}

{% block title %}New Seanse{% endblock %}

{% block body %}
    <h1>Create new Seanse</h1>

    {{ include('seanse/_form.html.twig') }}

    <a href="{{ path('seanse_index') }}">back to list</a>
{% endblock %}
